.class_topic_header {
	/*background-color: #112238; this color is overlayed with background*/
	background-image: url('../assets/abtbanner.jpeg');/*opening image background*/ 
	/*background-blend-mode: overlay;*/
	background-position: center; /* Center the image */
  	background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
    opacity: 0.9;
    color: white;
    
}
.icon-border {
	border-right: 1px solid #d3d3d3;
}
hr {
	margin-bottom: 5px;
}
.gray-toggle {
	filter: grayscale(100%);
	opacity: 0.7;

}
.jumbostyle {
	background-color: #FFF; 
	padding-top: 0;
	padding-bottom: 0;
	margin-bottom: 0;
	margin-top: 0;
}
.jumbostyle2 {
	/*background-color: #f2f2f2;*/
	background-color: #165E9E;
}
.card {
	/*padding: 15px 15px 0 15px;*/
	padding: 20px;
	border: 0;
	border-radius: 0;
	box-shadow: 2px 2px 3px -1px #e8eAeA;
}
.card-border {
	border: 1px solid #f2f2f2;
	box-shadow: 0px 0px;
} 
.card-body {
	line-height: 1.3rem;
	padding-left: 0;
	padding-right: 0;
}
.class_stat {
	font-weight: 700;
	font-size: 25px;
	/*color: #1a4069;*/
	color: #fff;
	line-height: 0.2rem;
}
.class_about_headingA {
	border-left: 3px solid #FFF;
	padding-left: 1rem;
	margin-left: 0;
}
.class_heading_content1A {
	color: #fff;
	/*color: #fff;*/
}
.class_heading_content2A {
	font-weight: 700;
	color: #FFF;
}
.class_about_descriptionA {
	padding-left: 1rem;
	color: #fff;
	/*color: #fff;*/
	font-size: 14px;
}
.profiles_overall_bgc {
	background-color: #f1f2f2;
}
.designation {
	color:#9f9f9f; 
	font-size: 14px;

}
.title-margin {
	margin-bottom: 1px;
}
.profile-description {
	color:#9f9f9f; 
	font-size: 13px; 
	padding-bottom: 10px; 
}