body {
	font-family: 'Fira Sans', sans-serif;
}
.bgc {
	background-color: #1a4069;
	padding-top: 30px;
	padding-bottom: 0;
}
.heading {
	margin-left: 20px;
	color: white;
	font-size: 20px;
	font-weight: 700;
}
.opener {
	height: 28rem; 
	
	position: relative;
}
.opener:hover {
	filter: grayscale(100%);
}
#opener-1 {
	background-image: url('../assets/blogpic2.jpg');
	background-size: cover;
	background-repeat: no-repeat;
}
#opener-2 {
	background-image: url('../assets/hcs.jpg');
	background-size: cover;
	background-repeat: no-repeat;
}
#opener-5 {
	background-image: url('../assets/blogpic.jpg');
	background-size: cover;
	background-repeat: no-repeat;
}
#opener-3 {
	background-image: url('../assets/relcomp.jpg');
	background-size: cover;
	background-repeat: no-repeat;
}
#opener-4 {
	background-image: url('../assets/relcomp2.jpg');
	background-size: cover;
	background-repeat: no-repeat;
}
.only-heading {
	position: absolute;
	width: 100%;
	height: 10%;
	bottom: 0;
	background-color: #fff;
	opacity: 0.8;
}
.bhead {
	margin-left: 1rem;
	font-weight: 700;
	margin-top: 10px;
}
.bhead-2 {
	margin-left: 1rem;
	font-weight: 700;
	margin-top: 20px;
}
.bdescr {
	position: absolute;
	width: 100%;
	height: 48%;
	bottom: 0;
	background-color: #fff;
	font-size: 15px;
	opacity: 0.8;
}
.btn-primary {
	background-color: #1a4069;
	border-radius: 2rem;
	border: 1px solid #1a4069;
}
.btn-primary:hover {
	background-color: #C19858;
	border: 1px solid #C19858;

}
.btn-default {
	margin-left: 1rem;
	border: 1px solid #000;
	padding: 5px;
	font-size: 14px;
}