html {
	scroll-behavior: smooth;
}
body {
	font-family: 'Fira Sans', sans-serif;
	font-weight: 400;
}
td > img{
	padding: 3px 3px 3px 3px;
}
td {
	padding-top: 10px;
}
.jumbotro {
	margin: 0;
	padding: 0;
}
.col-bg {
	background-color: #fff;
}
.horiz {
	font-weight: 700;
	font-size: 20px;
	/*border-bottom: 1px solid #f2f2f2;
	line-height: 0.2em;*/
	margin-bottom: 0;
}
.bgt {
	color: #165e9e;
}
.line {
	width: 100%;
	background: transparent;
	border: none;
	border-bottom: 1px solid #E8E8E8;
}

input[type=text]:focus {
	outline: none;
	border-bottom: 1px solid #C19858;
}
input[type=email]:focus {
	outline: none;
	border-bottom: 1px solid #C19858;
}
textarea:focus {
	outline: none;
	border-bottom: 1px solid #C19858;
}
.line2 {
	width: 100%;
	background: transparent;
	border: none;
	border-bottom: 1px solid #E8E8E8;
}
.submit_style {
	border: 1px solid #165e9e;
	border-radius: 0;
	background-color: #165e9e;
	color: #fff;
	padding: 5px 20px 5px 20px;
}
.formbg {
	background-color: #FBFBFB;
	border: 1px solid #d3d3d3;
	
}
.col-mgn {
	margin: 28px;
	padding: 10px 10px 10px 10px;
	box-shadow: 1px 1px 6px -1px #696969;
}