html {
	scroll-behavior: smooth;
}
body {
	font-family: 'Fira Sans', sans-serif;
	font-weight: 400;
}
td > img{
	padding: 3px 3px 3px 3px;
}
td {
	line-height: 110%;
	padding-left: 5px;
	padding-top: 10px;
}
td > span {

}

.jumbotro {
	margin: 0;
	padding: 0;
}
.col-bg {
	background-color: #fff;
}
.horiz {
	font-weight: 700;
	font-size: 20px;
	/*border-bottom: 1px solid #f2f2f2;
	line-height: 0.2em;*/
	
}
.bgt {
	color: #165e9e;
}
.line {
	width: 100%;
	background: transparent;
	border: none;
	border-bottom: 1px solid #E8E8E8;
}

input[type=text]:focus {
	outline: none;
	border-bottom: 1px solid #C19858;
}
input[type=email]:focus {
	outline: none;
	border-bottom: 1px solid #C19858;
}
textarea:focus {
	outline: none;
	border-bottom: 1px solid #C19858;
}
.line2 {
	width: 100%;
	background: transparent;
	border: none;
	border-bottom: 1px solid #E8E8E8;
}
.submit_style {
	border: 1px solid #165e9e;
	border-radius: 0;
	background-color: #165e9e;
	color: #fff;
	padding: 5px 20px 5px 20px;
}
.formbg {
	background-color: #FBFBFB;
	border: 1px solid #d3d3d3;
	
}
.col-mgn {
	margin: 20px;
	padding: 20px;
	box-shadow: 2px 2px 3px -1px #e8eAeA;
}
.office-content {
	font-size: 13px;
	color: #58595b;
}

.col-bg-2 {
	background-color: #FFFF;
	font-size: 13px;
}

@media screen and (min-width: 767px) {
	.col-mgn-2 {
		border-right: 1px solid #d3d3d3;
		padding-top: 10px;
	}
}
.col-mgn-2 {
	padding-top: 10px;
}
.col-mgn-3 {
	
	padding-top: 10px;
}
@media screen and (max-width: 600px) {
	.banner-head {
		position: absolute; 
		left: 0.5%; 
		top: 50%; 
		transform: translate(50%, -50%);
	}
	.bh-styling {
		color: #fff;
		font-size: 15px;
		font-weight: 700;
	}
}
@media screen and (max-width: 768px) {
	.bd-styling {
		font-size: 14px;
	}
}
@media screen and (min-width: 601px) and (max-width: 1024px) {
	.banner-head {
		position: absolute; 
		left: 20%; 
		top: 50%; 
		transform: translate(50%, -50%);
	}
	.bh-styling {
		font-size: 20px;
		font-weight: 700;
		color: #fff;
	}
}

@media screen and (min-width: 1025px) {
	.banner-head {
		position: absolute; 
		left: 20%; 
		top: 50%; 
		transform: translate(50%, -50%);
	}
	.bh-styling {
		font-size: 30px;
		font-weight: 700;
		color: #fff;
	}
}
