html {
	scroll-behavior: smooth;
}
body {
	font-family: 'Fira Sans', sans-serif;
	font-weight: 400;
}
td > img{
	padding: 3px 3px 3px 3px;
}
td {
	line-height: 110%;
	padding-left: 5px;
	padding-top: 10px;
}
td > span {

}

.jumbotro {
	margin: 0;
	padding: 0;
}
.col-bg {
	background-color: #fff;
}
.horiz {
	font-weight: 700;
	font-size: 20px;
	margin-left: 15px;
}
.horiz-2 {
	font-weight: 700;
	font-size: 20px;
}
.bgt {
	color: #165e9e;
}
.ft-13 {
	font-size: 13px;
	color: #58595b;
}
.line {
	width: 100%;
	background: transparent;
	border: none;
	border-bottom: 1px solid #E8E8E8;
}

input[type=text]:focus {
	outline: none;
	border-bottom: 1px solid #C19858;
}
input[type=email]:focus {
	outline: none;
	border-bottom: 1px solid #C19858;
}
textarea:focus {
	outline: none;
	border-bottom: 1px solid #C19858;
}
.line2 {
	width: 100%;
	background: transparent;
	border: none;
	border-bottom: 1px solid #E8E8E8;
}
.submit_style {
	border: 1px solid #165e9e;
	border-radius: 0;
	background-color: #165e9e;
	color: #fff;
	padding: 5px 20px 5px 20px;
}
.formbg {
	background-color: #FBFBFB;
	border: 1px solid #d3d3d3;
	
}
.col-mgn {
	margin: 30px 0;
	padding: 0 25px;
}
.col-bord {
	border-right: 2px solid #d3d3d3; 
}
.office-content {
	font-size: 13px;
	color: #58595b;
}
.bh-styling {
	font-size: 30px;
	font-weight: 700;
	color: #fff;
}
.mbt-0 {
	margin-bottom: 0;
}