.class_footer_jumbo{
	background-color: #000;
	margin: 0;
	border-radius: 0;
	padding-top: 0;
	color: #fff;
	font-size: 12px;
}

.class_footer_jumbo a{
	color: #fff;
	/*text-decoration: none;*/
}

.class_footer_jumbo li{
	/*vertical-align: middle;*/
	margin-bottom: 5px;
	font-size: 12px;
	/*border: solid 1px;*/
	/*text-align: center;*/
}

.class_footer_jumbo li span{

	/*vertical-align: middle;*/
	/*margin-bottom: 10px;*/
	/*display: inline-block;*/
	/*border:solid 1px;*/
	/*text-align: left;*/
}

.class_footer_text1 {
	background-color: #252525;
	text-align: left;
	color: #909090;
}

/*.class_footer_text1 > div > p{
	display: inline-block;
	padding-right: 10px;
}*/

.class_footer_brand_image{
	padding:20px 0;
	height: 80px;
	width: 120px;
	/*border: solid 1px;*/

}

.class_footer_brand_image img{
	max-width: 100%;
    max-height: 100%;
    /*object-fit: contain;*/
}

.class_footer_icon_image{
	height: 20px;
	width: 20px;
	text-align: center;
	background-color: #909090;
	display: inline-block;
}

.class_footer_icon_image:hover{
	background-color: #fff;
	cursor: pointer;
	/*display: inline-block;*/
}


.class_footer_icon_image_social_media{
	height: 28px;
	width: 28px;
	text-align: center;
	background-color: #252525;
	display: inline-block;
	padding-top: 5px;
	/*margin-right: 1%; */
}

.class_footer_icon_image img{
	max-width: 50%;
    max-height: 50%;
}

.class_footer_icon_image_social_media img{
	max-width: 70%;
    max-height: 70%;
}

.class_icon_mage_contact_div{
	display: inline-block;
	margin-right: 20px;
}

.class_footer_contact{
	display: inline-block;
	margin-left: 5px;
}

.class_footer_contact a{
	color: #909090;
}

.class_footer_latest_updates > div{
	padding: 0;
	margin-bottom: 8%;
}
.class_footer_latest_updates  p{
	text-align: left;
	padding: 0;
	margin: 0;
}

.class_footer_latest_updates span{
	font-weight: 600;
	/*letter-spacing: 0.5px;*/
	font-size: 13px;
}

.class_footer_section_header{
	font-size: 14px;
	letter-spacing: 1px;
}

.list-unstyled li{
	text-align: left;
}

.class_footer_get_in_touch > .class_footer_section_header{
	text-align: left;
}

.class_footer_site_map > .class_footer_section_header{
	text-align: left;
}


.class_copyright_jumbo{
	background-color: #252525;
	margin: 0;
	padding: 0;
	border-radius: 0;
}

.class_copyright_jumbo .container{
	padding-left: 0;
}

.class_copyright_jumbo a{
	display: inline-block;
	font-size: 12px;
	color: #909090;
	border-right: solid 1px #909090;
	text-align: center;
	line-height: 1.5;
	padding-right: 8px;
	margin-right: 5px
}

.class_footer_right_half_row{
	margin-left: 2%
}

@media only screen and (max-width: 1000px){
	.class_footer_right_half_row{
		margin-left: 0;
	}
}

.class_footer_cookies{
	display: inline-block;
}

.class_footer_copyright{
	display: inline-block;
}

@media only screen and (max-width: 700px){
	.class_footer_cookies{
		display: block;
		text-align: center;
	}
	.class_footer_copyright{
		display: block;
		text-align: center;

	}
	.class_footer_copyright a{
		border: none;
	}

}



.cookie-banner {
  position: fixed;
  bottom: 40px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #252525;
  border-top: solid 2px #fff;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
  padding-left: 20%;
  padding-right: 20%;
  padding-top: 1%;
}

.cookie-banner p{
	align-items: center;
	color: #fff;
	font-size: 12px;
	text-align: center;
}
.close {
  height: 20px;
  background-color: #000;
  border: none;
  color: #fff;
  border-radius: 2px;
  cursor: pointer;
}
.fborder {
	border: solid #165e9e;
}