.class_navbar_custom1{
	/*border-bottom: 1px solid #aaa;*/
	background-color: #000;
	opacity: 0.85;
}

.class_navbar_custom2{
	/*border-bottom: 1px solid #000;*/
	box-shadow: 0 0 4px -1px #888;
	background-color:#fff;
}

.class_navbar_customX{
	/*border-bottom: 1px solid #000;*/
	box-shadow: 0 0 4px -1px #888;
	background-color:#fff;
}
.class_nav_link_custom1{
	color: #fff !important; 
	font-size: 13px; 
	letter-spacing: 1px; 
}

.class_nav_link_custom2{

	color: #000 !important; 
	font-size: 13px; 
	letter-spacing: 1px;
}

.class_navbar_handler_container{
	padding-left: 6%;
	padding-right: 6%;
}

/*.navbar-nav{
}
*/
.class_navbar_custom1 .navbar-toggler{
	background-color: transparent !important;
}

.class_navbar_custom1 .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 255, 255)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

#id_custom2_icon{
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(0, 0, 0)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");	
}

#id_custom2_button{
	background-color: transparent !important;
}


@media only screen and (max-width: 1000px){
	.class_navbar_handler_container{
		padding-left: 0;
		padding-right: 0;
	}
}

@media only screen and (max-width: 700px){

	.class_nav_link_custom1{
		color: #fff !important; 
		font-size: 13px; 
		letter-spacing: 1px; 
		/*display: table; */
		/*min-width: 100%;*/
		/*border: solid thin #111;*/
	}

	/*.class_nav_link_custom1 #link_name{
		display: table-cell;
		text-align: left;
		padding-left: 5px;
	}

	.class_nav_link_custom1 #link_symbol{
		display: table-cell;
		text-align: right;
		padding-right: 5px;
	}*/

	.class_nav_link_custom2{
		color: #000 !important; 
		font-size: 13px; 
		letter-spacing: 1px; 
		/*display: table;
		min-width: 100%;
		border: solid thin #eee;*/
	}

	/*.class_nav_link_custom2 #link_name{
		display: table-cell;
		text-align: left;
		padding-left: 5px;
	}

	.class_nav_link_custom2 #link_symbol{
		display: table-cell;
		text-align: right;
		padding-right: 5px;
	}*/
}


.class_custom_nav_dropdown{
	border-radius: 0;
	border-color: #eee;
	background-color: #ddd;
}

.class_custom_nav_dropdown_item{
	font-size: 13px; 
	letter-spacing: 1px;
}
