.class_jumbotron_1{
	
	border-radius: 0;
	background-image: url("../assets/s1.jpeg");
	min-height: 180px; 

	background-repeat: no-repeat;
	background-size: 100% 100%;
}
.class_jumbotron_2{
	height: 291px;
	border-radius: 0;
	background-image: url("../assets/s2.jpeg");
	
	background-repeat: no-repeat;
	background-size: contain;
}
.class_jumbotron_3{
	height: 291px;
	border-radius: 0;
	background-image: url("../assets/s3.jpeg");
	
	background-repeat: no-repeat;
	background-size: contain;
}
.class_jumbotron_4{
	height: 291px;
	border-radius: 0;
	background-image: url("../assets/s4.jpeg");
	
	background-repeat: no-repeat;
	background-size: contain;
}
.class_jumbotron_5{
	height: 291px;
	border-radius: 0;
	background-image: url("../assets/s5.jpeg");
	
	background-repeat: no-repeat;
	background-size: contain;
}
ul > li {
	font-size: 13px;
}

.jumbotron-content{
	margin: auto;
	padding-top: 50px;
	color: #fff;
}

.jumbotron-content h6{
	line-height: 1.8em;
	padding-top: 10px;
	font-size: 18px;
}

.class_we_agree_content{
	font-size: 18px;
	color: #165e9e;
	word-spacing: 0.1em;	
	line-height: 1.8em;
	font-weight: 500;
	padding-top: 3%;
}

.class_we_are_diff{
	font-size: 18px;
	font-weight: bold;
	word-spacing: 0.1em;
	color: #165e9e
}
.class_know_more_full {
	background-color: #165e9e;
	color: #fff;
}
.mbt {
	margin-left: 10px;
	margin-bottom: 3px;
}
.button-style-1 {
	width: 35px;
	height: 35px;
	background-color: #165e9e;
	border: 0;
	
}
.button-style-2 {
	
	background-color: #fff;
	color: #165e9e;
	border: 0;
	border-radius: 10px;
}
td {
	
	margin: 0;
}
.class_cards{
	/*width: 220px;*/
	border: solid 1px #DFDFDF;
	background-color: #fff;
	text-align: center;
	height: 160px;
	box-shadow: 1px 1px 6px -1px #DFDFDF;
}

.class_card_text{
	font-size: 14px;
	font-weight: bold;
	
	text-align: center;
	color: #165e9e;
	text-align: center;
	padding-bottom: 20px;
	height: 30%;
	padding-top: 20px;
}

.class_card_image{
	text-align: center;
	margin: 0 auto;
	height: 45%;
	padding-top: 20px;
}

.class_card_image img{
	width: 50px;
	height: 50px;
	display: inline-block;
}



.class_interest_know_more{
	/*text-align: center;*/
	padding-top: 2%;
}

#id_interest_headline{
	font-size: 18px;
	font-weight: bolder;
	padding-bottom: 0;
	margin-bottom: 0;
}

#id_interest_body{
	font-size: 13px;
	font-weight: thin;
	
	padding-top: 0;
	margin-top: 0;
}

.class_jumbotron_contact{
	border-radius: 0;
	margin-bottom: 0;
	background-color: #F5F5F5;
	padding-top: 20px;
	padding-bottom: 10px;
}

.class_contact_block{
	/*height: 80px;*/
}

.class_contact_block_image{
	text-align: center;
	height: 40px;
}

.class_contact_block_image img{
	height: 50px;
	width: 35px;
}

.class_contact_block_text{
	text-align: center;
	font-size: 14px;
	font-weight: 600;
	padding-top: 20px;
}
.cols-color1 {
	padding: 10px;
	
}
a:hover {
	text-decoration: none;
}
h6 {
	line-height: 1.5em;
}
.col-md-2 {
	border: none;
	outline: none;
}