.class_jumbotron_1{
	
	border-radius: 0;
	background-image: url("../assets/s1.jpeg");
	min-height: 220px; 
	
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
.class_jumbotron_2{
	height: 291px;
	border-radius: 0;
	background-image: url("../assets/s2.jpeg");
	
	background-repeat: no-repeat;
	background-size: contain;
}
.class_jumbotron_3{
	height: 291px;
	border-radius: 0;
	background-image: url("../assets/s3.jpeg");
	
	background-repeat: no-repeat;
	background-size: contain;
}
.class_jumbotron_4{
	height: 291px;
	border-radius: 0;
	background-image: url("../assets/s4.jpeg");
	
	background-repeat: no-repeat;
	background-size: contain;
}
.class_jumbotron_5{
	height: 291px;
	border-radius: 0;
	background-image: url("../assets/s5.jpeg");
	
	background-repeat: no-repeat;
	background-size: contain;
}
ul > li {
	font-size: 13px;
}

.jumbotron-content{
	margin: auto;
	padding-top: 50px;
	color: #fff;
}

.jumbotron-content h6{
	line-height: 1.8em;
	padding-top: 10px;
	font-size: 18px;
}

.class_we_agree_content{
	font-size: 18px;
	color: #165e9e;
	word-spacing: 0.1em;	
	line-height: 1.8em;
	font-weight: 500;
	padding-top: 3%;
}

.class_we_are_diff{
	font-size: 18px;
	font-weight: bold;
	word-spacing: 0.1em;
	color: #165e9e
}
.class_know_more_full {
	background-color: #165e9e;
	color: #fff;
}
.mbt {
	margin-left: 10px;
	margin-bottom: 3px;
	margin-right: 10px;
}
.button-style-1 {
	width: 35px;
	height: 35px;
	background-color: #165e9e;
	border: 0;
	
}
.button-style-2 {
	
	background-color: #fff;
	color: #165e9e;
	border: 0;
	border-radius: 0px;
}
td {
	
	margin: 0;
}
.class_cards{
	/*width: 220px;*/
	border: solid 1px #DFDFDF;
	background-color: #fff;
	text-align: center;
	height: 160px;
	box-shadow: 1px 1px 6px -1px #DFDFDF;
}

.class_card_text{
	font-size: 14px;
	font-weight: bold;
	
	text-align: center;
	color: #165e9e;
	text-align: center;
	padding-bottom: 20px;
	height: 30%;
	padding-top: 20px;
}

.class_card_image{
	text-align: center;
	margin: 0 auto;
	height: 45%;
	padding-top: 20px;
}

.class_card_image img{
	width: 50px;
	height: 50px;
	display: inline-block;
}

.class_interest_headline{
	font-size: 18px;
	font-weight: 700;
	padding-bottom: 0;
	margin-top: 22px;
	margin-bottom: 16px;
}

#id_interest_body{
	font-size: 13px;
	font-weight: thin;
	
	padding-top: 0;
	margin-top: 0;
}

.class_jumbotron_contact{
	border-radius: 0;
	margin-bottom: 0;
	background-color: #F5F5F5;
	padding-top: 20px;
	padding-bottom: 10px;
}

.class_contact_block{
	/*height: 80px;*/
}

.class_contact_block_image{
	text-align: center;
	height: 40px;
}

.class_contact_block_image img{
	height: 50px;
	width: 35px;
}

.class_contact_block_text{
	text-align: center;
	font-size: 14px;
	font-weight: 600;
	padding-top: 20px;
}
.cols-color1 {
	padding: 10px;
	
}
a:hover {
	text-decoration: none;
}
h6 {
	line-height: 1.5em;
}
.col-md-2 {
	border: none;
	outline: none;
}
@media screen and (max-width: 660px) {
	
}
@media screen and (max-width: 768px) {
	
}
@media screen and (min-width: 661px) and (max-width: 1024px) {
	
}

@media screen and (min-width: 1025px) {

}

.bd-styling {
	font-size: 16px;
}
.bh-styling {
	font-size: 30px;
	font-weight: 700;
	color: #fff;
}

.buttonDownload {
	margin-top: 16px;
	margin-bottom: 16px;
	margin-left: 50px;
	display: inline-block;
	position: relative;
	padding: 10px 25px;
  
	background-color: #fff;
	color: #165e9e;
  
	font-family: 'Fira Sans', sans-serif;
	text-decoration: none;
	font-size: 13px;
	text-align: center;
	text-indent: 15px;
}

.buttonDownload:hover {
	background-color: #F9A81A;
	color: white;
}

.buttonDownload:before, .buttonDownload:after {
	content: ' ';
	display: block;
	position: absolute;
	left: 15px;
	top: 52%;
}

/* Download box shape  */
.buttonDownload:before {
	width: 15px;
	height: 5px;
	border-style: solid;
	border-width: 0 2px 2px;
}

/* Download arrow shape */
.buttonDownload:after {
	width: 0;
	height: 0;
	margin-left: 3px;
	margin-top: -7px;
  
	border-style: solid;
	border-width: 4px 4px 0 4px;
	border-color: transparent;
	border-top-color: inherit;
	
	animation: downloadArrow 2s linear infinite;
	animation-play-state: paused;
}

.buttonDownload:hover:before {
	border-color: #fff;
}

.buttonDownload:hover:after {
	border-top-color: #fff;
	animation-play-state: running;
}

/* keyframes for the download icon anim */
@keyframes downloadArrow {
	/* 0% and 0.001% keyframes used as a hackish way of having the button frozen on a nice looking frame by default */
	0% {
		margin-top: -7px;
		opacity: 1;
	}
	
	0.001% {
		margin-top: -15px;
		opacity: 0;
	}
	
	50% {
		opacity: 1;
	}
	
	100% {
		margin-top: 0;
		opacity: 0;
	}
}
.ctable-center {
	margin: 0 auto;
	text-align: left;
}
@media screen and (min-width: 992px) {
	.ctable {
		margin-top: 4px;
	}
}